<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/count.css">
  </head>
  <body>
    
    <% @count.each do |count| %>
    
      <% if count.number.to_s.include?("3") %>
        <% if count.number % 15 == 0 && counter.number != 0 %>
        <h1 style="color: #2a6d39; border: 1px solid #f8b516;"><%= count.number %></h1>
        <% elsif count.number % 5 == 0 && count.number != 0 %>
        <h1 style="color: #ec6c1f; border: 1px solid #f8b516;"><%= count.number %></h1>
        <% elsif count.number % 3 == 0 && count.number != 0 %>
        <h1 style="color: #d01026; border: 1px solid #f8b516;"><%= count.number %></h1>
        <% else %>
        <h1 style="color: #edda15; border: 1px solid #f8b516;"><%= count.number %></h1>
        <% end %>
      <% else %>
        <% if count.number % 15 == 0 && count.number != 0 %>
        <h1 style="color: #2a6d39; border: 1px solid #f8b516;"><%= count.number %></h1>
        <% elsif count.number % 5 == 0 && count.number != 0 %>
        <h1 style="color: #ec6c1f; border: 1px solid #d8d8d8;"><%= count.number %></h1>
        <% elsif count.number % 3 == 0 && count.number != 0 %>
        <h1 style="color: #d01026; border: 1px solid #f8b516;"><%= count.number %></h1>
        <% else %>
        <h1 style="color: #edda15; border: 1px solid #d8d8d8;"><%= count.number %></h1>
        <% end %>
      <% end %>
        
        
      
  
      <form action="/plus/<%= count.id %>" method="post">
        <input type="submit" value="+">
      </form>
      <form action="/minus<%= count.id %>" method="post">
        <input type="submit" value="-">
      </form>
      <form action="/clear<%= count.id %>" method="post">
        <input type="submit" value="clear">
      </form>
      
    <% end %>
    
    <form action="/create" method="post">
      <input type="submit" value="新規作成">
    </form>
    
    <h1></h1>
    
  </body>
</html>
